@import "./colors.scss";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$card-color: $white;
$card-background-color: $dark-blue;
$card-padding: 3rem;
$card-shadow: 0;

.card {
  border: 1px solid $white;
  border-radius: 6px;

  .card-content {
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    span {
      color: $light-blue;
    }
  }
  .card-footer a {
    color: $light-blue;
  }
}
