$primary: #0f1e42;
$link: #2f195f;
$success: #61d095;
$warning: #ffee93;
$danger: #db2b39;
$gray: #1f1f23;

$background-color: white;

// Typo

$text: #0f1e42;

$content-heading-color: $text;

$family-primary: "Comfortaa", cursive;

$navbar-background-color: white;

// image dimentions
$dimensions: 16 24 32 48 64 96 128 256 320;
