$blue: #2a559d;
$dark-blue: #1e3b6e;
$light-blue: #d1e2ff;
$turquoise: #04d1a2;
$purple: #736eb5;
$green: #65eb63;
$yellow: #ebd328;
$red: #db2b39;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);

$primary: $turquoise;
$link: $blue;
$info: $purple;
$success: $green;
$warning: $yellow;
$danger: $red;

$background: $blue;
$footer-background-color: $white;
