@import "./colors.scss";

.hero {
  .hero-body {
    h2 {
      font-size: 4rem;
      @media screen and (max-width: $tablet - 1px) {
        font-size: 3rem;
      }
    }
    h3 {
      font-size: 2rem;
      @media screen and (max-width: $tablet - 1px) {
        font-size: 1.5rem;
      }
    }
  }
}
