@import "./colors.scss";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$media-color: $white;
$media-background-color: transparent;
$media-shadow: 0;

.media {
  border: 1px solid $white;
  margin: 1rem;
  border-radius: 6px;
  padding: 1rem;
  color: $white;

  @media screen and (max-width: $tablet) {
    display: block !important;
  }
  .media-left {
    .image {
      overflow-y: hidden;
    }
  }

  h5 {
    font-size: 1.4rem !important;
    color: $white !important;
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      font-size: 1.2rem !important;
    }
    span {
      font-size: 0.8rem !important;
      line-height: 2rem !important;
    }
  }

  p {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
